@using BLL.Models
@model List<SuplierModel>
@{
    ViewBag.Title = "ListSuplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <h2> Supliers </h2>



    <table class="table table-bordered table-hover" >

        <tr>
            <th>ID</th>
            <th>CompanyName</th>
            <th>ContactName</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>

            </tr>
        }


    </table>
